[submodule "src/database"]
	path = src/database
	url = https://github.com/sparkyflight/database
	branch = development

[submodule "src/v2-database"]
	path = src/v2-database
	url = https://github.com/sparkyflight/v2-database
    branch = development