<!DOCTYPE html>
<html lang="en"></html>

<head>
    <title>Login</title>
    <meta property="og:title" content="Login" />
    <meta property="og:site_name" content="Nightmare Project" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nightmarebot.tk/" />
    <meta property="og:image" content="https://nightmarebot.tk/logo.png" />
    <meta property="og:description" content="Login to all Nightmare Project services!" />
    <meta property="theme-color" content="#3c3c3c" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <img
            class="h-8 w-8 rounded-md"
            src="<%= websiteData.logo %>"
            alt="Logo"
        />

        <h2 class="text-white font-bold text-lg"><%= websiteData.name %></h2>
        <p class="text-gray-600 text-md"><%= websiteData.description %></p>
    </div>

    <div class="p-2"></div>

    <div id="methods">
        <button
            type="button"
            class="p-2 bg-gradient-to-r from-violet-500 to-fuchsia-500 rounded-md"
            onclick="window.location.href = '/auth/login?method=discord';"
        >Login with Discord</button>
    </div>
</body>
</html>